.dream-comments--template {
  display: none;
}

.dream-comments--form .spinner {
  display: none;
  width: 24px;
  height: 24px;
  text-indent: -999px;
  direction: ltr;
  background-image: url('spinner.svg');
}

.dream-comments--form .spinner.active {
  display: inline-block;
}

.dream-comments--form .status-message {
  margin-left: 1em;
  display: inline-block;
}
